{{define "seats"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Drafthouse Seat Finder</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/custom.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <div class="container-fluid">
        <div class="row">
            <div class="page-header col-sm-8 col-sm-offset-2 text-center">
                <a href="/" class="header-link">
                    <h1>Drafthouse Seat Finder</h1>
                    <p class="lead">For when you are too lazy to click through them all</p>
                </a>
            </div>
        </div>
        <div class="row">
            {{range .Films}}
            <div class="col-md-4" style="padding-bottom:25px">
                <a href="https://drafthouse.com/austin/tickets/{{.FilmSlug}}/tickets/{{.CinemaID}}_{{.SessionID}}">
                    <h6 class="text-center">
                        {{.CinemaName}} {{.SessionTime}}<br>
                        <small>{{.FilmName}}</small>
                    </h6>
                </a>
                <div class="center-block">
                    <table class="center-block">
                        {{range .SeatChart.Charts}}
                        <tr>
                            {{range .}}
                                {{.}}
                            {{end}}
                        </tr>
                        {{end}}
                    </table>
                </div>
            </div>
            {{end}}
        </div>
    </div>

    {{template "footer" .}}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
{{end}}
